[Desktop Entry]
Type=Application
Name=PDF Editor
GenericName=PDF Editor
Comment=Edit PDF content, pages, forms and comments
Exec=pdfeditor %f
Icon=pdfeditor
Terminal=false
Categories=Office;Graphics;VectorGraphics;Viewer;
MimeType=application/pdf;
Keywords=pdf;editor;vector;pages;forms;
StartupNotify=true
